table .betting-win {
  font-weight: bold;
  color: red;
}

table.betting-step td {
  width: 32%;
}

table.betting-step td.betting-step-arrow {
  font-weight: bold;
  font-size: 20px;
  width: 15px;
}

table.betting-step .active-step {
  font-weight: bold;
  background: #b8c1c8;
}

table.betting-view, table.betting-result {
  margin: 0 auto;
  width: auto;
}

table.betting-view td, table.betting-result td {
  padding: 3px 8px;
}

table.betting-result td {
  font-size: 18px;
  font-weight: bold;
}

table.betting-view thead th {
  text-align: center;
}

table.betting-view a {
  font-weight: bold;
}

table.betting-edit td {
  vertical-align: top;
}

.betting-status {
  border: 1px solid #E1471D;
  background: #FCD295 url(/misc/watchdog-warning.png) .5em 50% no-repeat;
  padding: 5px 3px 5px 30px;
  font-weight: bold;
  margin: 10px 0;
}

.game {
  margin-bottom: 6px;
}

table {
  margin: 0;
  width: 100%;
}

.betting-block-view thead th {
  font-size: 10px;
}

.betting-block-view td {
  font-size: 10px;
}